{% if page.carousel %}
<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		{% for image in page.carousel- %}
		<li data-target="#myCarousel" data-slide-to="{{ forloop.index }}"{% if forloop.first %} class="active"{% endif %}></li>
		{% endfor %}
	</ol>

	<!-- Wrapper for slides -->
	
	<div class="carousel-inner">
		{% for image in page.carousel %}
		<div class="item {% if forloop.first %}active{% endif %}">
			<div class="fill" style="background-image:url('{{ image.src }}');"></div>
			<div class="carousel-caption">
				<h1 class="text-uppercase" style="text-shadow: 0 5px 8px rgba(0,0,0,.8)">{{ image.title }}</h1>
				<h3 style="text-shadow: 0 2px 3px rgba(0,0,0,.8)">{{ image.caption }}</h3>
        <p><a href="{{ image.url }}" class="btn btn-default btn-lg">{{ image.action }}</a></p>
			</div>
		</div>
		{% endfor %}
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">
		<span class="icon-prev"></span>
	</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">
		<span class="icon-next"></span>
	</a>
</header>
{% endif %}
